* {
    box-sizing: border-box;
}

.clearfix::after{
    content: "  ";
    display:block;
    clear: both;
    }

body {
    margin-top: 1%;
    margin-bottom:10%;
    margin-left:10%;
    margin-right:10%;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

header { 
    height: 106.67px;
    padding: 5%;
    background: lightgray;
    text-align: center;
    }

.nav {
    margin-top:2%;
    text-align: center;
    height: 106.67px;
    padding: 5%;
    background: lightgray;
    }

.section {
    margin-top:2%;
    float: left;
    margin-right:2%;
    text-align: center;
    width: 55%;
    height: 320px;
    padding: 2%;
    background: lightgray;
}

article {
    margin-top:2%;
    color: lightgrey;
    background: gray;
    padding: 4%;
    height:240px;

}

h1{
    background: lightgray;
    padding: 15px;
    color:black;
    height:70px;
    margin-bottom:2%;
}

p{
    margin-top:2%;
    background: lightgray;
    padding:15px;
    color:black;
    height:70px;

}

.aside {
    margin-top:2%;
    float:left;
    text-align: center;
    width: 43%;
    height: 320px;
    padding: 2%;
    background: lightgray;
}

footer {
    margin-top: 2%;
    text-align: center;
    height: 106.67px;
    padding: 5%;
    background: lightgray;
}